In [2]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import numpy as np

from selenium import webdriver
from selenium.webdriver.common.by import By
import time

In [3]:
empleos = pd.read_csv('linkdin_Job_data.csv')

In [4]:
empleos.head()

,job_ID,job,location,company_id,company_name,work_type,full_time_remote,no_of_employ,no_of_application,posted_day_ago,alumni,Hiring_person,linkedin_followers,hiring_person_link,job_details,Column1
0,3471657636,"Data Analyst, Trilogy (Remote) - $60,000/year USD","Delhi, Delhi, India",NaN,Crossover,Remote,Full-time · Associate,"1,001-5,000 employees · IT Services and IT Con...",200,8 hours,12 company alumni,NaN,"5,395,547 followers",NaN,About the job Crossover is the world's #1 sour...,NaN
1,3471669068,"Data Analyst, Trilogy (Remote) - $60,000/year USD","New Delhi, Delhi, India",NaN,Crossover,Remote,Full-time · Associate,"1,001-5,000 employees · IT Services and IT Con...",184,8 hours,12 company alumni,NaN,"5,395,547 followers",NaN,About the job Crossover is the world's #1 sour...,NaN
2,3474349934,Data Analyst - WFH,Greater Bengaluru Area,NaN,Uplers,Remote,Full-time · Mid-Senior level,"1,001-5,000 employees · IT Services and IT Con...",200,9 hours,3 company alumni,Shahid Ahmad,NaN,https://www.linkedin.com/in/shahid-ahmad-a2613...,About the job Profile: ML EngineersExperience:...,NaN
3,3472816027,Data Analyst,"Gurugram, Haryana, India",NaN,PVAR SERVICES,On-site,Full-time,1-10 employees,200,7 hours,NaN,Vartika Singh,"2,094 followers",https://www.linkedin.com/in/vartika-singh-,About the job Designation: Data AnalystLocatio...,NaN
4,3473311511,Data Analyst,"Mohali district, Punjab, India",NaN,Timeline Freight Brokers,On-site,Full-time,1-10 employees,8,26 minutes,1 company alumni,Manisha (Gisele Smith),NaN,https://www.linkedin.com/in/manisharathore0029,About the job The ideal candidate will use the...,NaN

In [5]:
empleos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7927 entries, 0 to 7926
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   job_ID              7927 non-null   int64
 1   job                 7894 non-null   object
 2   location            7894 non-null   object
 3   company_id          0 non-null      float64
 4   company_name        7892 non-null   object
 5   work_type           7736 non-null   object
 6   full_time_remote    7848 non-null   object
 7   no_of_employ        7603 non-null   object
 8   no_of_application   7887 non-null   object
 9   posted_day_ago      7920 non-null   object
 10  alumni              4858 non-null   object
 11  Hiring_person       5720 non-null   object
 12  linkedin_followers  4814 non-null   object
 13  hiring_person_link  5720 non-null   object
 14  job_details         7881 non-null   object
 15  Column1             0 non-null      float64
dtypes: float64(2), int64(1), object(13)
memory usage: 991.0+ KB

In [6]:
empleos.isnull().sum()

job_ID                   0
job                     33
location                33
company_id            7927
company_name            35
work_type              191
full_time_remote        79
no_of_employ           324
no_of_application       40
posted_day_ago           7
alumni                3069
Hiring_person         2207
linkedin_followers    3113
hiring_person_link    2207
job_details             46
Column1               7927
dtype: int64

In [14]:
empleos.drop(['company_id','hiring_person_link'], axis=1 , inplace=True)

In [15]:
empleos.duplicated().sum()

79

In [17]:
empleos[empleos.duplicated()]

,job_ID,job,location,company_name,work_type,full_time_remote,no_of_employ,no_of_application,posted_day_ago,alumni,Hiring_person,linkedin_followers,job_details,Column1
707,3461948837,Administration Executive/Office Admin/Office A...,"Udipi, Karnataka, India",Manipal Overseas Careers,On-site,Full-time,NaN,days,2 days,NaN,Manipal Overseas Careers,NaN,About the job Job Requires:Experience: 1–2 yea...,NaN
748,3459364036,PHP Developer,"Kochi, Kerala, India",Anxial Technologies,On-site,Full-time,NaN,days,6 days,NaN,Anxial Technologies,NaN,About the job Responsibilities :· Write “clean...,NaN
1769,3468426602,5G Core Engineer,"Noida, Uttar Pradesh, India",Zuree Telecom,On-site,Full-time,NaN,days,4 days,NaN,zuree Telecom,668 followers,About the job Role 5G SA CORE developerRequire...,NaN
1770,3464560907,Senior PHP Developer,"Bengaluru, Karnataka, India",Sri Sri Wellbeing,On-site,Full-time,51-200 employees,days,2 days,NaN,Sri Sri Wellbeing,"2,778 followers",About the job We are looking for interested & ...,NaN
1771,3463993167,Research Associate – Microbiology,"Bengaluru, Karnataka, India",Foundation for Neglected Disease Research,NaN,Full-time,11-50 employees,days,5 days,NaN,Careers FNDR,839 followers,About the job Qualifications:- M.Sc. in Microb...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7859,3465488625,Hadoop Developer,"Bengaluru, Karnataka, India",Wipro,Hybrid,Full-time · Mid-Senior level,"10,001+ employees · IT Services and IT Consulting",85,2 days,"4,867 company alumni",Anand Babu,NaN,About the job Share resume to anand.j22@wipro....,NaN
7880,3464426443,Hiring Zoho Developer (Kochi Kerala),"Kochi, Kerala, India",V-Align Technologies Private Limited.,On-site,Full-time · Mid-Senior level,11-50 employees · Software Development,42,5 days,NaN,V-Align Technologies,"1,117 followers",About the job Job description :We are looking ...,NaN
7882,3464566556,Talend Developer,"Hyderabad, Telangana, India",LTIMindtree,Hybrid,Full-time,"10,001+ employees · IT Services and IT Consulting",63,2 days,743 company alumni,NaN,NaN,About the job Should have good knowledge on Ta...,NaN
7910,3451168769,Power Platform Developer,"Noida, Uttar Pradesh, India",GlobalLogic,Hybrid,Full-time · Associate,"10,001+ employees · Software Development",101,2 days,268 company alumni,Divya Chawla,NaN,About the job Job DescriptionMaster’s degree i...,NaN
7911,3461860950,Integration Developer,"Hyderabad, Telangana, India",DaySmart,Remote,Full-time · Mid-Senior level,201-500 employees · Software Development,79,5 days,1 company alumni,NaN,NaN,About the job Remote opportunity in India Desi...,NaN

In [19]:
empleos[empleos['job_ID'] == 3451168769]

,job_ID,job,location,company_name,work_type,full_time_remote,no_of_employ,no_of_application,posted_day_ago,alumni,Hiring_person,linkedin_followers,job_details,Column1
7836,3451168769,Power Platform Developer,"Noida, Uttar Pradesh, India",GlobalLogic,Hybrid,Full-time · Associate,"10,001+ employees · Software Development",101,2 days,268 company alumni,Divya Chawla,NaN,About the job Job DescriptionMaster’s degree i...,NaN
7910,3451168769,Power Platform Developer,"Noida, Uttar Pradesh, India",GlobalLogic,Hybrid,Full-time · Associate,"10,001+ employees · Software Development",101,2 days,268 company alumni,Divya Chawla,NaN,About the job Job DescriptionMaster’s degree i...,NaN

In [18]:
empleos[empleos['job_ID'] == 3461860950]

,job_ID,job,location,company_name,work_type,full_time_remote,no_of_employ,no_of_application,posted_day_ago,alumni,Hiring_person,linkedin_followers,job_details,Column1
7839,3461860950,Integration Developer,"Hyderabad, Telangana, India",DaySmart,Remote,Full-time · Mid-Senior level,201-500 employees · Software Development,79,5 days,1 company alumni,NaN,NaN,About the job Remote opportunity in India Desi...,NaN
7911,3461860950,Integration Developer,"Hyderabad, Telangana, India",DaySmart,Remote,Full-time · Mid-Senior level,201-500 employees · Software Development,79,5 days,1 company alumni,NaN,NaN,About the job Remote opportunity in India Desi...,NaN

In [23]:
empleos.drop_duplicates(inplace=True)

In [25]:
empleos[empleos.duplicated()]

Empty DataFrame
Columns: [job_ID, job, location, company_name, work_type, full_time_remote, no_of_employ, no_of_application, posted_day_ago, alumni, Hiring_person, linkedin_followers, job_details, Column1]
Index: []

In [5]:
# Creating a webdriver instance
driver = webdriver.Chrome()
# This instance will be used to log into LinkedIn
 
# Opening linkedIn's login page
driver.get("https://linkedin.com/uas/login")
 
# waiting for the page to load
time.sleep(2)
 
# entering username
username = driver.find_element(By.ID, "username")
 
# In case of an error, try changing the element
# tag used here.
 
# Enter Your Email Address
username.send_keys("julietaciare77@gmail.com") 
 
# entering password
pword = driver.find_element(By.ID, "password")
# In case of an error, try changing the element
# tag used here.
 
# Enter Your Password
pword.send_keys("Many4409")       
 
# Clicking on the log in button
# Format (syntax) of writing XPath -->
# //tagname[@attribute='value']
driver.find_element(By.XPATH, "//button[@type='submit']").click()

# Jobs page
driver.find_element(By.XPATH,'//*[@id="ember19"]').click()
time.sleep(3)
# Go to search results directly
driver.get("https://www.linkedin.com/jobs/search/?geoId=105646813&keywords=junior%20data%20analyst&location=Spain")
time.sleep(1)

# Get all links for these offers
links = []
# Navigate 13 pages
print('Links are being collected now.')
try: 
    for page in range(2,14):
        time.sleep(2)
        jobs_block = driver.find_element_by_class_name('jobs-search-results__list')
        jobs_list= jobs_block.find_elements(By.CSS_SELECTOR, '.jobs-search-results__list-item')
    
        for job in jobs_list:
            all_links = job.find_elements_by_tag_name('a')
            for a in all_links:
                if str(a.get_attribute('href')).startswith("https://www.linkedin.com/jobs/view") and a.get_attribute('href') not in links: 
                    links.append(a.get_attribute('href'))
                else:
                    pass
            # scroll down for each job element
            driver.execute_script("arguments[0].scrollIntoView();", job)
        
        print(f'Collecting the links in the page: {page-1}')
        # go to next page:
        driver.find_element_by_xpath(f"//button[@aria-label='Page {page}']").click()
        time.sleep(3)
except:
    pass
print('Found ' + str(len(links)) + ' links for job offers')

# Create empty lists to store information
job_titles = []
company_names = []
company_locations = []
work_methods = []
post_dates = []
work_times = [] 
job_desc = []

i = 0
j = 1
# Visit each link one by one to scrape the information
print('Visiting the links and collecting information just started.')
for i in range(len(links)):
    try:
        driver.get(links[i])
        i=i+1
        time.sleep(2)
        # Click See more.
        driver.find_element_by_class_name("artdeco-card__actions").click()
        time.sleep(2)
    except:
        pass
    
    # Find the general information of the job offers
    contents = driver.find_elements_by_class_name('p5')
    for content in contents:
        try:
            job_titles.append(content.find_element_by_tag_name("h1").text)
            company_names.append(content.find_element_by_class_name("jobs-unified-top-card__company-name").text)
            company_locations.append(content.find_element_by_class_name("jobs-unified-top-card__bullet").text)
            work_methods.append(content.find_element_by_class_name("jobs-unified-top-card__workplace-type").text)
            post_dates.append(content.find_element_by_class_name("jobs-unified-top-card__posted-date").text)
            work_times.append(content.find_element_by_class_name("jobs-unified-top-card__job-insight").text)
            print(f'Scraping the Job Offer {j} DONE.')
            j+= 1
            
        except:
            pass
        time.sleep(2)
        
        # Scraping the job description
    job_description = driver.find_elements_by_class_name('jobs-description__content')
    for description in job_description:
        job_text = description.find_element_by_class_name("jobs-box__html-content").text
        job_desc.append(job_text)
        print(f'Scraping the Job Offer {j}')
        time.sleep(2)  
            
# Creating the dataframe 
df = pd.DataFrame(list(zip(job_titles,company_names,
                    company_locations,work_methods,
                    post_dates,work_times)),
                    columns =['job_title', 'company_name',
                           'company_location','work_method',
                           'post_date','work_time'])

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//*[@id="ember19"]"}
  (Session info: chrome=116.0.5845.96); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
	GetHandleVerifier [0x00007FF7923452A2+57122]
	(No symbol) [0x00007FF7922BEA92]
	(No symbol) [0x00007FF79218E3AB]
	(No symbol) [0x00007FF7921C7D3E]
	(No symbol) [0x00007FF7921C7E2C]
	(No symbol) [0x00007FF792200B67]
	(No symbol) [0x00007FF7921E701F]
	(No symbol) [0x00007FF7921FEB82]
	(No symbol) [0x00007FF7921E6DB3]
	(No symbol) [0x00007FF7921BD2B1]
	(No symbol) [0x00007FF7921BE494]
	GetHandleVerifier [0x00007FF7925EEF82+2849794]
	GetHandleVerifier [0x00007FF792641D24+3189156]
	GetHandleVerifier [0x00007FF79263ACAF+3160367]
	GetHandleVerifier [0x00007FF7923D6D06+653702]
	(No symbol) [0x00007FF7922CA208]
	(No symbol) [0x00007FF7922C62C4]
	(No symbol) [0x00007FF7922C63F6]
	(No symbol) [0x00007FF7922B67A3]
	BaseThreadInitThunk [0x00007FFE949426AD+29]
	RtlUserThreadStart [0x00007FFE965CAA68+40]

In [29]:
df

Empty DataFrame
Columns: [job_title, company_name, company_location, work_method, post_date, work_time]
Index: []

In [26]:
job_titles

[]

In [ ]:
jobs_url = f"https://www.linkedin.com/jobs/search/?currentJobId=3672824246&geoId=100446943&keywords=junior%20data%20analyst&location=Argentina&refresh=true"
driver.get(jobs_url)
time.sleep(3)
# Go to search 
#buscar = driver.find_element(By.CLASS_NAME,"scaffold-layout__list-container")

#elemento_texto = buscar.text

# Get all links for these offers
links = []
# Navigate 13 pages
print('Links are being collected now.')
try: 
    for page in range(2,14):
        time.sleep(2)
        jobs_block = driver.find_element_by_class_name('jobs-search-results__list')
        jobs_list= jobs_block.find_elements(By.CSS_SELECTOR, '.jobs-search-results__list-item')
    
        for job in jobs_list:
            all_links = job.find_elements_by_tag_name('a')
            for a in all_links:
                if str(a.get_attribute('href')).startswith("https://www.linkedin.com/jobs/view") and a.get_attribute('href') not in links: 
                    links.append(a.get_attribute('href'))
                else:
                    pass
            # scroll down for each job element
            driver.execute_script("arguments[0].scrollIntoView();", job)
        
        print(f'Collecting the links in the page: {page-1}')
        # go to next page:
        driver.find_element_by_xpath(f"//button[@aria-label='Page {page}']").click()
        time.sleep(3)
except:
    pass
print('Found ' + str(len(links)) + ' links for job offers')

# Create empty lists to store information
job_titles = []
company_names = []
company_locations = []
work_methods = []
post_dates = []
work_times = [] 
job_desc = []

i = 0
j = 1
# Visit each link one by one to scrape the information
print('Visiting the links and collecting information just started.')
for i in range(len(links)):
    try:
        driver.get(links[i])
        i=i+1
        time.sleep(2)
        # Click See more.
        driver.find_element_by_class_name("artdeco-card__actions").click()
        time.sleep(2)
    except:
        pass
    
    # Find the general information of the job offers
    contents = driver.find_elements_by_class_name('p5')
    for content in contents:
        try:
            job_titles.append(content.find_element_by_tag_name("h1").text)
            company_names.append(content.find_element_by_class_name("jobs-unified-top-card__company-name").text)
            company_locations.append(content.find_element_by_class_name("jobs-unified-top-card__bullet").text)
            work_methods.append(content.find_element_by_class_name("jobs-unified-top-card__workplace-type").text)
            post_dates.append(content.find_element_by_class_name("jobs-unified-top-card__posted-date").text)
            work_times.append(content.find_element_by_class_name("jobs-unified-top-card__job-insight").text)
            print(f'Scraping the Job Offer {j} DONE.')
            j+= 1
            
        except:
            pass
        time.sleep(2)
        
        # Scraping the job description
    job_description = driver.find_elements_by_class_name('jobs-description__content')
    for description in job_description:
        job_text = description.find_element_by_class_name("jobs-box__html-content").text
        job_desc.append(job_text)
        print(f'Scraping the Job Offer {j}')
        time.sleep(2)  
            
# Creating the dataframe 
df = pd.DataFrame(list(zip(job_titles,company_names,
                    company_locations,work_methods,
                    post_dates,work_times)),
                    columns =['job_title', 'company_name',
                           'company_location','work_method',
                           'post_date','work_time'])

In [23]:
elemento_texto

'Analytics Engineer\nCookUnity\nBuenos Aires, Provincia de Buenos Aires, Argentina\n1 contacto trabaja aquí\nPromocionado\nData Analytics and Insights: Analytics and Modeling Analyst\nAccenture Argentina\nBuenos Aires, Provincia de Buenos Aires, Argentina (Presencial)\n27 antiguos alumnos de la universidad trabajan aquí\nPromocionado\nJr. Collections Analyst\nMedia.Monks\nBuenos Aires, Provincia de Buenos Aires, Argentina (Híbrido)\nTu perfil se ajusta a este empleo\nPromocionado\nJr/SSr Data Analyst (Olivos/Barracas)\nPwC Argentina\nProvincia de Buenos Aires, Argentina (Híbrido)\n5 antiguos empleados de la empresa trabajan aquí\nPromocionado\nAnalista de datos\nCOTO\nBuenos Aires y alrededores (Híbrido)\n2 contactos trabajan aquí\nSolicitado hace 16 horas\nAnalista de Inteligencia comercial\nMolino Cañuelas SACIFIA\nCarlos Spegazzini, Provincia de Buenos Aires, Argentina (Presencial)\nEn busca de personal\nPromocionado\nSolicitud sencilla\nAssociate Data Scientist\nBBVA en Argentina\nBuenos Aires y alrededores (Híbrido)\n8 contactos trabajan aquí\nPromocionado\nSolicitud sencilla'

In [ ]:
driver.find_element(BY.CLASS_NAME,scaffold-layout__list-container)